<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
	
	<bean id="client" class="io.zbus.rpc.RpcClient">
		<constructor-arg type="java.lang.String" value="localhost:15555"/>  
		
		<property name="apiKey" value="2ba912a8-4a8d-49d2-1a22-198fd285cb06"/>
		<property name="secretKey" value="461277322-943d-4b2f-b9b6-3f860d746ffd"/>
		<property name="authEnabled" value="true"/>
	</bean>
	
	<bean factory-bean="client" factory-method="createProxy">
		<constructor-arg type="java.lang.String" value="/example"/> 
		<constructor-arg type="java.lang.Class" value="io.zbus.rpc.biz.InterfaceExample"/> 
	</bean> 
	
</beans>