<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
 	 
 	<import resource="spring-processor.xml"/>  
	
	<bean id="mqServer" class="io.zbus.mq.MqServer">
		<constructor-arg value="rpc/zbus.xml"/>
	</bean> 
	
	<bean class="io.zbus.rpc.RpcServer"> 
		<property name="mqServer" ref="mqServer"/>  <!-- embed RpcServer in MqServer --> 
	</bean>   
	
</beans>